<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>这里是GUETAI项目组的宣传页面 😊</title>
    <link rel="shortcut icon" href="/res/icon/20241012.ico" type="image/x-icon">
    <link rel="stylesheet" href="/template/pages/index.css">
    <script src="/template/pages/index.js" defer></script>
</head>
<body>
    <header class="navbar">
        <a href="/" class="nav-item">主页</a>
        <a href="/about.html" class="nav-item">介绍</a>
    </header>

    <div class="background-image"></div>

    <main class="content">
        <h1>Pages页面模版</h1>
        <p>请不要直接访问模版，因为他无效</p>
        <button id="toggleDarkMode" class="dark-mode-toggle">☀️</button>
        <button id="toggleGraveMode" class="tombstone-mode-toggle">🪦</button>
    </main>
</body>
</html>