<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>这里是GUETAI项目组的宣传页面</title>
    <link rel="stylesheet" href="./index.css">
    <script src="./index.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <a href="/" class="nav-link">主页</a>
            <a href="/about.html" class="nav-link">介绍</a>
        </nav>
    </header>
    <div class="background-image"></div>
    <main>
        <h1 id="article-title">Pages页面模版</h1>
        <p id="article-content">请不要直接访问模版，因为他无效</p>
    </main>
</body>
</html>