<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>这里是GUETAI项目组的宣传页面 😊</title>
    <link rel="icon" href="/res/icon/20241012.ico">
    <link rel="stylesheet" href="/template/pages/index.css">
    <script defer src="/template/pages/index.js"></script>
</head>
<body>
    <header>
        <nav>
            <a href="/">主页</a>
            <a href="/about.html">介绍</a>
        </nav>
    </header>
    <main>
        <section class="content">
            <h1>Pages页面模版</h1>
            <p>请不要直接访问模版，因为他无效</p>
        </section>
    </main>
    <div class="csdn-side-toolbar">
        <div class="option-box dark-mode-toggle">
            <img src="https://g.csdnimg.cn/side-toolbar/3.0/images/sun.png" alt="太阳">
            <span class="show-txt">黑夜模式</span>
        </div>
        <div class="option-box tombstone-mode-toggle">
            <img src="https://g.csdnimg.cn/side-toolbar/3.0/images/tombstone.png" alt="墓碑">
            <span class="show-txt">墓碑模式</span>
        </div>
    </div>
</body>
</html>