body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

#blurred-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

main {
    position: relative;
    width: 100%;
    padding: 2rem;
    text-align: center;
    color: white;
}

#page-title {
    font-weight: bold;
    margin-bottom: 1rem;
}