body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: pink;
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.content-container {
    margin-top: 60px;
    width: 70%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.page-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.dark-mode-toggle {
    color: black;
}

.tombstone-mode-toggle {
    color: gray;
}

@media (max-width: 768px) {
    .content-container {
        width: 90%;
    }
}

/* 背景图片 */
.background-image {
    background-image: url('/res/background/pc_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (max-width: 768px) {
    .background-image {
        background-image: url('/res/background/mp_image.png');
    }
}